@import compass/css3
@import compass/reset

$font_path: "/font/simplon" !default
+font-face("Simplon_BP_Regular", font-files("/font/simplon/woff/Simplon_BP_Regular_1.woff", woff, "/font/simplon/ttf/Simplon_BP_Regular_1.ttf", truetype, "/font/simplon/otf/Simplon_BP_Regular_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Medium", font-files("/font/simplon/woff/Simplon_BP_Medium_1.woff", woff, "/font/simplon/ttf/Simplon_BP_Medium_1.ttf", truetype, "/font/simplon/otf/Simplon_BP_Medium_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Regular_Italic", font-files("/font/simplon/woff/Simplon_BP_Regular_Italic_1.woff", woff, "/font/simplon/ttf/Simplon_BP_Regular_Italic_1.ttf", truetype, "/font/simplon/otf/Simplon_BP_Regular_Italic_1.otf", opentype), "#{$font_path}.eot", normal, bold)
+font-face("Simplon_BP_Mono_Regular", font-files("/font/simplon/woff/Simplon_BP_Mono_Regular_1.woff", woff, "/font/simplon/ttf/Simplon_BP_Mono_Regular_1.ttf", truetype, "/font/simplon/otf/Simplon_BP_Mono_Regular_1.otf", opentype), "#{$font_path}.eot", normal, bold)
time
  font-size: 14px
  font-family: "Simplon_BP_Mono_Regular"
  color: #333

.related
  font-size: 22px
  h3
    text-align: center
    padding: 50px 10px 20px
    font-size: 14px
    font-family: "Simplon_BP_Mono_Regular"
  li
    padding: 4px
i
  font-size: 37px
  padding: 10px
  +transition-property(color,padding,font-size)
  +transition-duration(1s)
  &:hover
    color: #000
  @media only screen and (max-width: 500px)
    padding: 4px
    font-size: 24px

#lastupdate
  display: block
  width: 100%
  padding: 50px 0px
  @media only screen and (max-width: 500px)
    padding: 10px 0px
  text-align: center
  line-height: 1.5
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 2px

.downloadwrap
  text-align: center
  width: 100%
  display: block
  clear: both
  padding: 20px 0px

.download
  font-size: 16px
  display: inline-block
  width: 200px
  height: 200px
  border-radius: 50%
  background: #5D4588
  opacity: 0.8
  text-align: center
  line-height: 2
  +transition-property(background)
  +transition-duration(1s)
  &:hover
    background: #000
  a
    position: relative
    top: 35px
    text-transform: uppercase
    font-family: "Simplon_BP_Mono_Regular"
p
  max-width: 700px
  line-height: 1.4
  padding-top: 20px

header
  text-align: center
  padding: 100px 0
  +transition-property(padding)
  +transition-duration(1s)
  @media only screen and (max-width: 500px)
    padding: 30px 0px
  h1
    font-weight: 800
    font-size: 20px
    text-transform: uppercase
    font-family: "Simplon_BP_Mono_Regular"
  h2
    font-size: 12px

h2
  font-size: 20px
.datum, .time
  font-size: 14px
  padding: 10px
.datum
  float: left

.ui
  padding: 10px 0px
  display: inline-block
  width: 100%
  text-align: center
  ul
    display: inline-block
    text-align: center
    margin: 0 auto
    padding: 10px
  a
    font-family: "Simplon_BP_Mono_Regular"
    font-weight: normal
    font-size: 16px
    text-transform: uppercase
    padding: 10px
  li
    float: left

#fittext
  width: 100%
  display: block
  line-height: 1
  margin: 0px
  padding: 0px
ul, li
  list-style: none
.beentheredonethat
  text-decoration: line-through


.content
  padding: 100px 0
  display: block
  min-height: 200px
  max-width: 700px
  margin: 0 auto

.leftside, .rightside
  width: 50%
  float: left
  margin: 0px
  padding: 0px
  @media only screen and (max-width: 767px)
    width: 100%
    clear: both

nav
  h3
    text-align: center
    padding: 50px 0px
    font-size: 24px
    text-transform: uppercase
  li
    font-size: 24px
    padding-top: 10px
    padding-bottom: 10px
  p
    padding: 10px

body
  font-family: "Simplon_BP_Regular"
  margin: 0 auto
  background: #000 no-repeat center center fixed
  background-size: cover
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  a
    text-decoration: none

.audiojs
  display: none
.intro
  padding: 0px 0px 50px
  +transition-property(padding)
  +transition-duration(1.5s)
  @media only screen and (max-width: 500px)
    padding: 0px 0px
  margin: 0px 0px
  text-align: center
  cursor: pointer
  width: 100%
  h1
    font-family: "Simplon_BP_Medium"
    //font-size: 160px
    font-weight: normal
    line-height: 1.4
    padding: 0px
    margin: 0px
    width: 100%
    display: inline-block

ul, ol
  text-align: center

footer
  display: block
  clear: both
  text-align: center
  width: 100%
  padding: 100px 0px
  @media only screen and (max-width: 500px)
    padding: 30px 0px
  margin: 0
  ul
    width: auto
    display: inline-block
  li
    float: left
    margin-bottom: 10px
    @media only screen and (max-width: 600px)
      width: 100%
  a
    text-transform: uppercase
    font-size: 18px
    letter-spacing: 1px
    padding: 10px


ol
  padding: 0px
  margin: 0px
  li
    cursor: pointer

  .playing
    font-weight: 800
  .playing:before
    content: '♬'
    width: 14px
    height: 14px
    padding: 3px
    line-height: 14px
    margin: 0px
    position: absolute
    left: -24px
    top: 9px

#shortcuts
  position: fixed
  width: 100%
  margin: 60px 0px 0px
  padding: 20px 20px 15px
  background: #f3f3f3
  background: rgba(240, 240, 240, 0.7)
  div
    width: 460px
    margin: 0px auto
  h1
    margin: 0px 0px 6px
  p
    margin: 0px 0px 18px
  em
    font-style: normal
    background: #d3d3d3
    padding: 3px 9px
    position: relative
    left: -3px
@media screen and (max-device-width: 480px)
  #wrapper
    position: relative
    left: -3%
  #shortcuts
    display: none
   
