---
layout: default
title: start
background: '3888254846_a9382a0ec1_o.jpg'
color: '#FF5F41'
---
<div class="intro"><h1 id="fittext">{{ site.categories.event.first.date | date: "%d.%m.%Y"}} {{ site.categories.event.first.title }}</h1></div>
<div class="listwrap">
  <ul class="tracks">{% for post in site.categories.audio %}<li><a href="{{ post.url }}" >{{ post.title }}<br /><time datetime="{{ post.date | date: "%m-%d-%Y"}}">{{ post.date | date: "%d.%m.%Y" }}</time></a></li>{% endfor %}</ul>
  <ul class="events">{% for post in site.categories.event %}<li{% if site.time > post.date %} class="beentheredonethat" {% endif %}><a href="#">{{ post.title }}<br /><time datetime="{{ post.date | date: "%m-%d-%Y"}}">{{ post.date | date: "%d.%m.%Y" }}</time></a></li>{% endfor %}</ul>
</div>
<div class="downloadwrap">
<div class="download">
  <a href="/download/klangforscher.zip">Download<br />Everything<br />
<span id="duration">03:41:52</span>
    <br />
<span id="filesize">201 MB</span>
  </a>
</div>
</div>
<h3 id="lastupdate">last edit<br />{{ site.time | date: "%d.%m.%Y %H:%M:%S"}}</h3>
