---
layout: default
---
<div class="content">

  <div class="intro">
    <h1 id="fittext">{{ page.title }}</h1>
  </div>

  <p>
  {{ content }}
  </p>

  <p class="datum">{{ page.date | date: "%d.%m.%Y"}}</p>


  <ul class="actions">
    <li><a href="#">play <span>05:32</span></a></li>
    <li><a href="{{ page.mp3 }}">download</a></li>
    <li><a href="#">share</a></li>
  </ul>

</div>

<div class="prevnext">

{% for post in site.categories.audio %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in site.categories.audio %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}
    {% if next_post %}
    <a  class="next" href="{{ next_post }}"><i class="icon-chevron-left"></i></a>
    {% else %}
    <a  class="next" href="{{ site.categories.audio.last.url }}"><i class="icon-chevron-left"></i></a>
    {% endif %}
    {% if prev_post %}
    <a class="prev" href="{{ prev_post }}"><i class="icon-chevron-right"></i></a>
    {% else %}
    <a class="prev" href="{{ site.categories.audio.first.url }}"><i class="icon-chevron-right"></i></a>
    {% endif %}

</div>

 <audio src="/mp3/{{ page.file }}" preload="none"></audio>
