<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Klangforscher{% if page.title %} | {{page.title}}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Klangforscher{% endif %}">
<link rel="stylesheet" href="/css/main.css" />
<style> body{ color:{{ page.color }}!important;} a{color:{{ page.color }}!important;} a:hover{color:{{ page.color }}!important;} </style>
{% include prevnext.html %}
{% if prev_post.background %}<link rel="prefetch" href="/img/out/{{ prev_post.background }}/large.jpg" /><link rel="prerender" href="/img/out/{{ prev_post.background }}/large.jpg" />{% endif %}
{% if next_post.background %}<link rel="prefetch" href="/img/out/{{ next_post.background }}/large.jpg" /><link rel="prerender" href="/img/out/{{ next_post.background }}/large.jpg" />{% endif %}
</head>
<body>
{% include header.html %}
{{ content }}
{% include nav.html %}
{% include download.html %}
{% include footer.html %}
<script src="/js/audiojs/audio.min.js"></script>
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/moment.min.js"></script>
<script src="/js/main.js"></script>
<script> $.backstretch("/img/out/{{ page.background }}/large.jpg"); </script>
</body>
</html>
