<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Klangforscher{% if page.title %} | {{page.title}}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Klangforscher{% endif %}">
<link rel="stylesheet" href="/css/main.css" />
<style>
body{background-image: url(/img/out/{{ page.background }}/large.jpg); color:{{ page.color }}!important;}
a{color:{{ page.color }}!important;}
a:hover{color:{{ page.color }}!important;}
</style>
{% if page.previous %}<link rel="prefetch" href="/img/out/{{ page.previous.background }}" /><link rel="prerender" href="/img/out/{{ page.previous.background }}" />{% endif %}
{% if page.next %}<link rel="prefetch" href="/img/out/{{ page.next.background }}" /><link rel="prerender" href="/img/out/{{ page.next.background }}" />{% endif %}
</head>
<body>
{% include header.html %}
{{ content }}
{% include nav.html %}
{% include download.html %}
{% include footer.html %}
<script src="/js/vendor/store+json2.min.js"></script>
<script src="/js/audiojs/audio.min.js"></script>
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/moment.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
